@model string;

@{
    var username = TempData["Username"];
    var userRole = TempData["Role"];
}

@if (username != null && userRole.Equals("ADMIN-USER"))
{
    <div style="bottom: 90px; position: fixed; right: 25px;" class="text-white">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>
}